body{
    margin: 0;
    padding: 0;
    background-color: rgb(234, 241, 241);
    font: normal 15pt Arial;
    height: 100%;
}
header{
    text-align: center;
}
section{
    background: rgb(35, 63, 94);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    color: white;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.459);
}
footer{
    text-align: center;
    font-style: italic;
}
img{
    width: 400px;
    border-radius: 7px;
}
#msg{
    text-align: center;
}
#photo{
    text-align: center;
}
#darkmode{
    text-align: center;
    padding: 5px;
}
input{
    padding: 5px;
    font-weight: bold;
    border-radius: 4px;
    border: none;
}
p{
    text-align: center;
}
#button{
    text-align: center;
}
#res{
    text-align: center;
}